<div class="division">
    <h1 class="display-4" id="pageTitle">Editar contato</h1>
</div>
{{#if notValidated}}
<div class="alert alert-warning alert-dismissible fade show" role="alert" id="errorMessage">
  É obrigatório preencher os campos de nome e telefone para concluir a edição!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
<div class="division">
<form action="/editarContato" method="POST" >
    <input type="hidden" name="id" value="{{contato.id}}">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" value="{{contato.nome}}" class="inputForm">
    <label for="sobrenome">Sobrenome:</label>
    <input type="text" name="sobrenome" value="{{contato.sobrenome}}" class="inputForm">
    <label for="telefone">Telefone:</label>
    <input type="text" name="telefone" value="{{contato.telefone}}" class="inputForm">
    <label for="email">Email:</label>
    <input type="email" name="email" value="{{contato.email}}" class="inputForm">
    <button type="submit" class="btn btn-info" id="buttonForm">Editar</button>
</form>
</div>
<a href="/">Voltar para home</a>